In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('inkognito_training.csv')

In [3]:
df

                                                  text Status
0    @115712 I understand. I would like to assist y...    NaN
1        @sprintcare and how do you propose we do that    NaN
2    @sprintcare I have sent several private messag...    NaN
3    @115712 Please send us a Private Message so th...    NaN
4                                   @sprintcare I did.    NaN
..                                                 ...    ...
995  @116036 Thank you for your patience. We'll cal...   TRUE
996  @116037 I made another try to call you and rea...   TRUE
997  @BofA_Help Anytime after 12noon today or anyti...    NaN
998  @116037 We’re here from 8:00 am-9:00 pm ET Mon...   TRUE
999                     @BofA_Help Whenever your ready    NaN

[1000 rows x 2 columns]

In [5]:
df['Status'].value_counts()

TRUE    316
.         4
Name: Status, dtype: int64

In [6]:
df['Status'] = df['Status'].replace('.', 'FALSE')

In [7]:
df.fillna(value="FALSE", inplace=True)

In [8]:
df

                                                  text Status
0    @115712 I understand. I would like to assist y...  FALSE
1        @sprintcare and how do you propose we do that  FALSE
2    @sprintcare I have sent several private messag...  FALSE
3    @115712 Please send us a Private Message so th...  FALSE
4                                   @sprintcare I did.  FALSE
..                                                 ...    ...
995  @116036 Thank you for your patience. We'll cal...   TRUE
996  @116037 I made another try to call you and rea...   TRUE
997  @BofA_Help Anytime after 12noon today or anyti...  FALSE
998  @116037 We’re here from 8:00 am-9:00 pm ET Mon...   TRUE
999                     @BofA_Help Whenever your ready  FALSE

[1000 rows x 2 columns]

In [9]:
df['Status'].value_counts()

FALSE    684
TRUE     316
Name: Status, dtype: int64

In [10]:
df.to_csv('updated_inkognito_trainingset.csv')